{% extends "base.html" %}

{% block content %}
    <h1 class="text-center mb-4">Nossa Loja Online</h1>
    <p class="text-center lead mb-5">Em breve, nossa loja estará no ar, com os melhores produtos de tecnologia para sua casa ou empresa.</p>
    
    <div class="text-center my-5">
        <img src="{{ url_for('static', filename='img/em-breve.png') }}" class="img-fluid" alt="Em breve">
    </div>
    <div class="d-flex flex-column flex-md-row justify-content-center justify-content-md-start my-4">
        <a href="https://wa.me/5563984740162?text=Olá,%20gostaria%20de%20saber%20mais%20sobre%20as%Produtos%Da%Loja." class="btn btn-success btn-lg mx-2 mb-3 mb-md-0" target="_blank">
            <i class="bi bi-whatsapp me-2"></i> WhatsApp
        </a>
    </div>
{% endblock %}
